.header {
  display: -ms-grid;
  display: grid;
  top: 0;
  left: 0;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: minmax(100vh, min-content);
      grid-template-rows: minmax(100vh, -webkit-min-content);
      grid-template-rows: minmax(100vh, min-content);
  min-height: 100vh;
  color: #fff;
}

.header > .container {
  margin-top: 70px;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.header > .container .title {
  text-transform: uppercase;
}

.header > .container .title.light {
  font-family: "Museo Sans 100 Thin", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 100;
}

.header > .container .title.bold {
  font-family: "Museo Sans 900 Black", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 900;
}

.header .g-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (auto)[5];
      grid-template-rows: repeat(5, auto);
      grid-template-areas: 'g-info     g-discounts'  'g-progress g-progress'  'g-text     g-text'  'g-button   g-button'  'g-line     g-timer';
}

.header .g-bg {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  grid-row: 1 / 5;
  z-index: -5;
  margin: -20px;
  border-radius: 5px;
  pointer-events: none;
  background: white;
  opacity: .05;
}

.header .g-info {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: g-info;
}

.header .g-discounts {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: g-discounts;
}

.header .g-discounts .table thead {
  z-index: -4;
  background-color: rgba(255, 255, 255, 0.07);
}

.header .g-discounts .table tr {
  -webkit-transition: all .15s linear;
  transition: all .15s linear;
}

.header .g-discounts .table th,
.header .g-discounts .table td {
  border: none;
}

.header .g-discounts .table th:first-child,
.header .g-discounts .table td:first-child {
  border-radius: 5px 0 0 5px;
}

.header .g-discounts .table th:last-child,
.header .g-discounts .table td:last-child {
  border-radius: 0 5px 5px 0;
}

.header .g-progress {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: g-progress;
  z-index: -2;
}

.header .g-progress.progress {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color: rgba(151, 107, 222, 0.6);
}

.header .g-text {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: g-text;
}

.header .g-text .col {
  min-height: 0;
}

.header .g-text .col ul,
.header .g-text .col p {
  display: block;
  overflow: hidden;
  list-style-type: none;
  padding: 0;
  padding-bottom: 5px;
}

.header .g-text .col .content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  padding-right: 10px;
  width: 100%;
  height: 100%;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.header .g-text .col .content:hover {
  -webkit-filter: brightness(115%);
          filter: brightness(115%);
}

.header .g-text .col:nth-child(1) .content {
  background: -webkit-gradient(linear, left top, right top, from(transparent), to(rgba(164, 88, 232, 0.7)));
  background: linear-gradient(to right, transparent, rgba(164, 88, 232, 0.7));
}

.header .g-text .col:nth-child(1) .content::before {
  content: '$7M';
}

.header .g-text .col:nth-child(2) .content {
  background: -webkit-gradient(linear, left top, right top, from(transparent), to(rgba(85, 182, 185, 0.7)));
  background: linear-gradient(to right, transparent, rgba(85, 182, 185, 0.7));
}

.header .g-text .col:nth-child(2) .content::before {
  content: '$12M';
}

.header .g-text .col:nth-child(3) .content {
  background: -webkit-gradient(linear, left top, right top, from(transparent), to(rgba(241, 80, 73, 0.7)));
  background: linear-gradient(to right, transparent, rgba(241, 80, 73, 0.7));
}

.header .g-text .col:nth-child(3) .content::before {
  content: '$20M';
}

.header .g-text .col:nth-child(4) .content {
  background: -webkit-gradient(linear, left top, right top, from(transparent), to(rgba(112, 189, 72, 0.7)));
  background: linear-gradient(to right, transparent, rgba(112, 189, 72, 0.7));
}

.header .g-text .col:nth-child(4) .content::before {
  content: '$30M';
}

.header .g-text .col::before {
  content: '';
  position: absolute;
  top: 0;
  right: 15px;
  left: 0;
  height: 1px;
  z-index: 1;
  background: -webkit-gradient(linear, left top, right top, from(transparent), to(white));
  background: linear-gradient(to right, transparent, white);
}

.header .g-text .col::after {
  content: '';
  position: absolute;
  right: 15px;
  left: 0;
  bottom: 0;
  height: 1px;
  background: -webkit-gradient(linear, left top, right top, from(transparent), to(white));
  background: linear-gradient(to right, transparent, white);
}

.header .g-button {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: g-button;
}

.header .g-line {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: g-line;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 30px;
}

.header .g-line .f-box {
  width: 85%;
}

.header .g-line .f-box .f-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header .g-line .f-box .f-row span {
  width: 100%;
}

.header .g-line .f-box .f-row-circles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.header .g-line .f-box .f-row-circles::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  height: 0;
  border-top: 1px dashed white;
}

.header .g-line .f-box .f-row-circles div {
  height: 10px;
  width: 10px;
  background: yellow;
  border-radius: 50%;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 0;
}

.header .g-line .f-box .f-row-circles div:not(:first-child) {
  margin-left: auto;
}

.header .g-line .f-box .progPoint {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: -5px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #03a9f4;
  padding-left: 5px;
  padding-right: 5px;
}

.header .g-line .f-box .progPoint svg {
  -ms-grid-column-align: center;
      justify-self: center;
  margin-right: -20px;
}

.header .g-timer {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
  grid-area: g-timer;
  margin-top: 30px;
}

.header .o-50 {
  opacity: .5;
}

.header .g-text .col:nth-child(1) .content::before, .header .g-text .col:nth-child(2) .content::before, .header .g-text .col:nth-child(3) .content::before, .header .g-text .col:nth-child(4) .content::before, .header .timetable .card-body > .list-group:nth-last-child(1) > .list-group-item:nth-last-child(2):before, .timetable .header .card-body > .list-group:nth-last-child(1) > .list-group-item:nth-last-child(2):before, .header .timetable .card-body > .list-group:nth-last-child(2) > .list-group-item:nth-last-child(2):before, .timetable .header .card-body > .list-group:nth-last-child(2) > .list-group-item:nth-last-child(2):before, .header .timetable .card-body > .list-group:nth-last-child(2) > .list-group-item:nth-last-child(3):before, .timetable .header .card-body > .list-group:nth-last-child(2) > .list-group-item:nth-last-child(3):before, .header .timetable .card-body > .list-group:nth-last-child(3) > .list-group-item:nth-last-child(3):before, .timetable .header .card-body > .list-group:nth-last-child(3) > .list-group-item:nth-last-child(3):before, .header .timetable .card-body > .list-group:nth-last-child(4) > .list-group-item:nth-last-child(3):before, .timetable .header .card-body > .list-group:nth-last-child(4) > .list-group-item:nth-last-child(3):before {
  position: absolute;
  pointer-events: none;
  top: -55px;
  right: 0;
  bottom: 0;
  color: white;
  border-right: 1px solid white;
  padding-right: 5px;
  font-weight: bold;
  text-align: right;
}

@media screen and (max-width: 460px) {
  .header h1 {
    font-size: 8vw;
  }
}

@media screen and (max-width: 800px) {
  .header .g-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto auto auto auto auto;
        grid-template-rows: auto auto auto auto auto auto auto;
    grid-template: 'g-info' 'g-progress' 'g-text' 'g-button' 'g-line' 'g-timer' 'g-discounts';
  }
  .header .g-bg {
    margin: -10px;
  }
  .header .g-text {
    height: 0;
  }
  .header .g-text div,
  .header .g-text ul,
  .header .g-text p {
    height: 0;
  }
  .header .g-text .col::before,
  .header .g-text .col::after {
    display: none;
  }
  .header .g-info .col {
    padding-bottom: 45px;
  }
  .header .g-timer {
    margin-bottom: 30px;
  }
}

.roadmap-section {
  position: relative;
  padding-top: 70px;
  padding-bottom: 50px;
  background: url(../images/road_b.png) no-repeat;
  background-size: cover;
  background-position-y: bottom;
}

.roadmap-section h1,
.roadmap-section h2,
.roadmap-section h3,
.roadmap-section h4,
.roadmap-section h5,
.roadmap-section h6 {
  color: #3D4351;
  margin-top: 0;
}

.roadmap-section a {
  color: #2eb6f7;
}

.roadmap-section a:hover {
  color: #fd8585;
  text-decoration: none;
}

.roadmap-section .split-wrapper {
  padding-left: 15px;
  padding-right: 15px;
}

.roadmap-section .example-header {
  background: #3D4351;
  color: #FFF;
  font-weight: 300;
  padding: 3em 1em;
  text-align: center;
}

.roadmap-section .example-header h1 {
  color: #FFF;
  font-weight: 300;
  margin-bottom: 20px;
}

.roadmap-section .example-header p {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 700;
}

.roadmap-section .container-fluid .row {
  padding: 0 0 4em 0;
}

.roadmap-section .example-title {
  text-align: center;
  margin-bottom: 60px;
  padding: 3em 0;
  border-bottom: 1px solid #E4EAEC;
}

.roadmap-section .example-title ~ p {
  margin: 0 auto;
  font-size: 16px;
  max-width: 400px;
}

.roadmap-section .timeline-new {
  line-height: 1.4em;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.roadmap-section .timeline-new h1,
.roadmap-section .timeline-new h2,
.roadmap-section .timeline-new h3,
.roadmap-section .timeline-new h4,
.roadmap-section .timeline-new h5,
.roadmap-section .timeline-new h6 {
  line-height: inherit;
}

.roadmap-section .timeline-item {
  padding-left: 40px;
  position: relative;
}

.roadmap-section .timeline-item:last-child {
  padding-bottom: 0;
}

.roadmap-section .timeline-info {
  position: relative;
  top: 1px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 3px;
  margin: 0 0 .5em 0;
  text-transform: uppercase;
  white-space: nowrap;
}

.roadmap-section .timeline-marker {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15px;
}

.roadmap-section .timeline-marker .before {
  background: #2eb6f7;
  border: 3px solid transparent;
  border-radius: 100%;
  display: block;
  height: 15px;
  position: absolute;
  top: 4px;
  left: 0;
  width: 15px;
  -webkit-transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.roadmap-section .timeline-marker .after {
  width: 3px;
  background: #2eb6f7;
  display: block;
  position: absolute;
  top: 18px;
  bottom: -6px;
  left: 6px;
}

.roadmap-section .timeline-item:not(.period):hover .timeline-marker.before {
  background: transparent;
  border: 3px solid #2eb6f7;
}

.roadmap-section .timeline-content {
  position: relative;
  top: 0;
  padding-bottom: 24px;
}

.roadmap-section .timeline-content ul {
  padding: 0 0 20px 20px;
  font-size: 14px;
}

.roadmap-section .timeline-content p:last-child {
  margin-bottom: 0;
}

.roadmap-section .timeline-content .timeline-title {
  position: relative;
  top: -1px;
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 10px;
}

.roadmap-section .timeline-content .timeline-title.flag {
  position: relative;
  color: #fff;
  font-weight: normal;
  left: 6px;
  width: 150px;
  height: 40px;
  padding-left: 23px;
  line-height: 40px;
  background: -webkit-gradient(linear, left top, right top, from(#03a9f4), color-stop(96%, #3dc0fa));
  background: linear-gradient(90deg, #03a9f4 0%, #3dc0fa 96%);
}

.roadmap-section .timeline-content .timeline-title.flag:before {
  content: '';
  position: absolute;
  top: 20px;
  right: -20px;
  display: block;
  border: 20px solid transparent;
  border-top: 20px solid #3dc0fa;
}

.roadmap-section .timeline-content .timeline-title.flag:after {
  content: '';
  position: absolute;
  right: -20px;
  top: -20px;
  display: block;
  border: 20px solid transparent;
  border-bottom: 20px solid #3dc0fa;
}

.roadmap-section .period {
  padding: 0;
}

.roadmap-section .period .timeline-info {
  display: none;
}

.roadmap-section .period .timeline-marker .before {
  background: transparent;
  width: 15px;
  height: auto;
  border: none;
  border-radius: 0;
  top: 0;
  bottom: 30px;
  position: absolute;
}

.roadmap-section .period .timeline-marker .after {
  height: 32px;
  top: auto;
}

.roadmap-section .period .timeline-content .timeline-title {
  margin: 0;
}

.roadmap-section .period-start .timeline-marker .before {
  border-top: 0;
}

.roadmap-section .timeline-split {
  margin-top: 70px;
}

.roadmap-section .marker-outline .timeline-marker .before {
  background: transparent;
  border-color: #2eb6f7;
}

.roadmap-section .marker-outline .timeline-item:hover .timeline-marker.before {
  background: #2eb6f7;
}

.timeline-item:last-child .roadmap-section .timeline-marker:after {
  content: none;
}

@media (max-width: 1500px) {
  .roadmap-section {
    background-image: none;
  }
}

@media (min-width: 768px) {
  .roadmap-section .timeline-split .timeline-new {
    display: table;
  }
  .roadmap-section .timeline-split .timeline-item {
    display: table-row;
    padding: 0;
  }
  .roadmap-section .timeline-split .timeline-info,
  .roadmap-section .timeline-split .timeline-marker,
  .roadmap-section .timeline-split .timeline-content,
  .roadmap-section .timeline-split .period .timeline-info {
    display: table-cell;
    vertical-align: top;
  }
  .roadmap-section .timeline-split .timeline-marker {
    position: relative;
  }
  .roadmap-section .timeline-split .timeline-content {
    padding-left: 15px;
  }
  .roadmap-section .timeline-split .timeline-info {
    text-align: right;
    padding-right: 13px;
  }
  .roadmap-section .timeline-split .period .timeline-title {
    position: relative;
    left: -24px;
  }
}

.team-section {
  padding-top: 70px;
}

.team-section .team-title h1 {
  color: #3D4351;
  margin-top: 0;
}

.team-section .members {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 70px;
}

.team-section .members .member .photo {
  margin: 24px auto 0;
  width: 128px;
  height: 128px;
  position: relative;
}

.team-section .members .member .photo img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.team-section .members .member .photo a {
  height: 32px;
  width: 32px;
  position: absolute;
  right: 0;
  bottom: 0;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.team-section .members .member .photo a + a {
  right: -20px;
  bottom: 35px;
}

.team-section .members .member .photo a:hover {
  -webkit-filter: brightness(125%);
          filter: brightness(125%);
}

.team-section .members .member .name,
.team-section .members .member .position {
  margin-top: 8px;
  color: #252525;
  text-align: center;
}

.team-section .members .member .name {
  font-family: Open_Sans_Bold, sans-serif;
  font-size: 14px;
}

.team-section .members .member .position {
  font-family: Open_Sans, sans-serif;
  font-size: 12px;
}

.team-section .members .member .description {
  margin-top: 12px;
  font-family: Open_Sans, sans-serif;
  font-size: 14px;
  color: rgba(10, 10, 10, 0.61);
  text-align: center;
  line-height: 20px;
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.team-section .members .member .sn {
  margin-bottom: 16px;
  margin-top: 16px;
}

.team-section .members .member .sn a + a {
  margin-left: 8px;
}

@media screen and (max-width: 1025px) {
  .team-section {
    padding-top: 50px;
  }
}

@media screen and (max-width: 968px) {
  .team-section {
    padding-top: 30px;
  }
}

@media screen and (max-width: 720px) {
  .team-section {
    padding-top: 20px;
  }
}

.press .item {
  display: inline-block;
  vertical-align: middle;
  width: 100px;
  height: 100px;
  margin: 5px;
  background-image: url(../images/media.png);
  background-repeat: no-repeat;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.press .item.item-1 {
  width: 91px;
  height: 81px;
  background-position: -147px 0;
}

.press .item.item-1:hover {
  background-position: -147px -81px;
}

.press .item.item-2 {
  width: 99px;
  height: 95px;
  background-position: 0 -513px;
  background-size: 196px;
}

.press .item.item-2:hover {
  background-position: 0 -613px;
}

.press .item.item-3 {
  width: 135px;
  height: 36px;
  background-position: 0 0;
  background-size: 226px;
}

.press .item.item-3:hover {
  background-position: 0 -75px;
}

.press .item.item-4 {
  width: 163px;
  height: 37px;
  background-position: 0 -186px;
  background-size: 225px;
}

.press .item.item-4:hover {
  background-position: 0 -149px;
}

.press .item.item-5 {
  width: 174px;
  height: 34px;
  background-position: 0 -197px;
  background-size: 198px;
}

.press .item.item-5:hover {
  background-position: 0 -231px;
}

.perc-circle {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: #ea3b38;
  -webkit-box-shadow: inset 0 0 0 6.66667px white;
          box-shadow: inset 0 0 0 6.66667px white;
  border: 10px solid #ea3b38;
  color: white;
  padding-top: 30px;
  font-size: 35px;
  font-weight: bolder;
  line-height: 50px;
  position: relative;
  -webkit-transition: all .15s ease;
  transition: all .15s ease;
}

.perc-circle:before {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  top: -10px;
  right: -10px;
  bottom: -10px;
  left: -10px;
  -webkit-clip-path: circle(50% at center);
          clip-path: circle(50% at center);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(50%, white), color-stop(51%, transparent));
  background: linear-gradient(to bottom right, white 50%, transparent 51%);
  opacity: .2;
  content: '';
}

.perc-circle:hover {
  -webkit-filter: brightness(125%);
          filter: brightness(125%);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.timetable .card-body > .list-group {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.timetable .card-body > .list-group:nth-last-child(1) > .list-group-item {
  background-color: #a458e8;
}

.timetable .card-body > .list-group:nth-last-child(1) > .list-group-item:nth-last-child(1) {
  background-color: #8c2be2;
}

.timetable .card-body > .list-group:nth-last-child(1) > .list-group-item:nth-last-child(2):before {
  content: 'Q2 2018';
}

.timetable .card-body > .list-group:nth-last-child(2) > .list-group-item {
  background-color: #55b6b9;
}

.timetable .card-body > .list-group:nth-last-child(2) > .list-group-item:nth-last-child(1) {
  background-color: #40989b;
}

.timetable .card-body > .list-group:nth-last-child(2) > .list-group-item:nth-last-child(2):before {
  content: 'Q1 2019';
}

.timetable .card-body > .list-group:nth-last-child(2) > .list-group-item:nth-last-child(3):before {
  content: 'Q2 2019';
}

.timetable .card-body > .list-group:nth-last-child(3) > .list-group-item {
  background-color: #f15049;
}

.timetable .card-body > .list-group:nth-last-child(3) > .list-group-item:nth-last-child(1) {
  background-color: #ed221a;
}

.timetable .card-body > .list-group:nth-last-child(3) > .list-group-item:nth-last-child(3):before {
  content: 'Q1 2020';
}

.timetable .card-body > .list-group:nth-last-child(4) > .list-group-item {
  background-color: #70bd48;
}

.timetable .card-body > .list-group:nth-last-child(4) > .list-group-item:nth-last-child(1) {
  background-color: #599a38;
}

.timetable .card-body > .list-group:nth-last-child(4) > .list-group-item:nth-last-child(3):before {
  content: 'Q2 2020';
}

.timetable .card-body > .list-group > .list-group-item {
  position: relative;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.timetable .card-body > .list-group > .list-group-item:hover {
  -webkit-filter: brightness(110%);
          filter: brightness(110%);
}

@media (min-width: 1200px) {
  .timetable .list-group-item:before {
    display: none;
  }
}

@media (max-width: 1200px) {
  .timetable .list-group-item {
    pointer-events: none;
  }
}

.timetable .header .g-text .col:nth-child(1) .content::before, .header .g-text .col:nth-child(1) .timetable .content::before, .timetable .header .g-text .col:nth-child(2) .content::before, .header .g-text .col:nth-child(2) .timetable .content::before, .timetable .header .g-text .col:nth-child(3) .content::before, .header .g-text .col:nth-child(3) .timetable .content::before, .timetable .header .g-text .col:nth-child(4) .content::before, .header .g-text .col:nth-child(4) .timetable .content::before, .timetable .card-body > .list-group:nth-last-child(1) > .list-group-item:nth-last-child(2):before, .timetable .card-body > .list-group:nth-last-child(2) > .list-group-item:nth-last-child(2):before, .timetable .card-body > .list-group:nth-last-child(2) > .list-group-item:nth-last-child(3):before, .timetable .card-body > .list-group:nth-last-child(3) > .list-group-item:nth-last-child(3):before, .timetable .card-body > .list-group:nth-last-child(4) > .list-group-item:nth-last-child(3):before {
  position: absolute;
  pointer-events: none;
  left: -50%;
  right: 0;
  bottom: 0;
  z-index: -5;
  color: black;
  border-bottom: 1px dotted black;
  font-weight: normal;
  text-align: left;
}

.timetable .card-body > .list-group:nth-last-child(1) > .list-group-item:nth-last-child(1), .timetable .card-body > .list-group:nth-last-child(2) > .list-group-item:nth-last-child(1), .timetable .card-body > .list-group:nth-last-child(3) > .list-group-item:nth-last-child(1), .timetable .card-body > .list-group:nth-last-child(4) > .list-group-item:nth-last-child(1) {
  font-weight: bold;
  color: rgba(255, 255, 255, 0.6);
}

.calculator span.input-group-text {
  width: 140px;
}

@font-face {
  font-family: 'Museo Sans 100 Thin';
  src: url("../fonts/MuseoSansCyrl-100.eot");
  src: url("../fonts/MuseoSansCyrl-100.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl-100.woff") format("woff"), url("../fonts/MuseoSansCyrl-100.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans 900 Black';
  src: url("../fonts/MuseoSansCyrl-900.eot");
  src: url("../fonts/MuseoSansCyrl-900.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl-900.woff") format("woff"), url("../fonts/MuseoSansCyrl-900.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body .navbar {
  -webkit-transition: background-color 150ms linear;
  transition: background-color 150ms linear;
}

body .navbar .logo {
  width: 150px;
  margin: 0 auto;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

body .particles-js-canvas-el {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
  z-index: -10;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.22;
  pointer-events: none;
  -webkit-animation: fadein 1s;
          animation: fadein 1s;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.22;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.22;
  }
}

body .bg {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
  z-index: -15;
  width: 100%;
  height: 100%;
  background-position: center;
  background-image: linear-gradient(115deg, #6039aa, #1c1e33);
}

body main > section:nth-child(even) {
  background-color: #f2f2f2;
}

body .footer {
  color: #fff;
  background-color: #6039aa;
  background-image: linear-gradient(95deg, #6039aa, #1c1e33);
}

body .footer a {
  color: #fff;
  text-decoration: none;
}

body .footer a u {
  border-bottom: 1px dotted #fff;
  text-decoration: none;
}

body .footer a u:hover {
  border-bottom-style: solid;
}

body .bs-tooltip-bottom .tooltip-inner {
  color: #000;
  background-color: #fff;
}

body .bs-tooltip-bottom .arrow::before {
  border-bottom-color: #fff;
}

.w-btn {
  color: #fff;
  position: relative;
  display: inline-block;
  vertical-align: top;
  border: none;
  outline: none;
  padding: 16px 56px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.4;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .5px;
  border-radius: 50px;
  background-color: #03a9f4;
  -webkit-transition: all .2s ease-in-out, -webkit-box-shadow .2s ease-in-out;
  transition: all .2s ease-in-out, -webkit-box-shadow .2s ease-in-out;
  transition: all .2s ease-in-out, box-shadow .2s ease-in-out;
  transition: all .2s ease-in-out, box-shadow .2s ease-in-out, -webkit-box-shadow .2s ease-in-out;
  cursor: pointer;
}

.w-btn:focus, .w-btn:hover {
  color: #fff;
  text-decoration: inherit;
  background-color: #2ebcfc;
  -webkit-box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

.w-btn:active {
  color: #fff;
  text-decoration: inherit;
  -webkit-transform: none;
          transform: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #0398db;
  -webkit-transition: -webkit-transform .1s ease-in-out, -webkit-box-shadow .1s ease-in-out;
  transition: -webkit-transform .1s ease-in-out, -webkit-box-shadow .1s ease-in-out;
  transition: transform .1s ease-in-out, box-shadow .1s ease-in-out;
  transition: transform .1s ease-in-out, box-shadow .1s ease-in-out, -webkit-transform .1s ease-in-out, -webkit-box-shadow .1s ease-in-out;
}

@media (max-width: 370px) {
  body .navbar .logo {
    width: 110px;
  }
  body main .timetable .row .col {
    margin-right: -70px;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  body .perc-circle {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  .invest-section, .invest-section .row {
    padding-left: 5px;
    padding-right: 5px;
  }
  .invest-section .col, .invest-section .row .col {
    padding: 0;
  }
  .invest-section .col .calculator .card-body, .invest-section .row .col .calculator .card-body {
    padding: 10px;
  }
}
