$wBtnBgColor: #03a9f4;
$percCircleBgColor:#ea3b38;

$progressBgColor: #976bde;

$timeLineBgColor1: #a458e8;
$timeLineBgColor2: #55b6b9;
$timeLineBgColor3: #f15049;
$timeLineBgColor4: #70bd48;

$headTextBgColor1: #a458e8;
$headTextBgColor2: #55b6b9;
$headTextBgColor3: #f15049;
$headTextBgColor4: #70bd48;

$defaultFontFamily: 
    -apple-system, BlinkMacSystemFont, 
    "Segoe UI", Roboto, "Helvetica Neue", 
    Arial, sans-serif, "Apple Color Emoji", 
    "Segoe UI Emoji", "Segoe UI Symbol";